<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog.naoty.dev</title>
    <link href="/normalize.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1>Posts</h1>
      <ul>
      <%- posts.each do |post| -%>
        <li>
          <time datetime="<%= post.time.strftime('%Y-%m-%dT%H:%M:%S.%3N%z') %>"><%= post.time.strftime('%Y-%m-%d %H:%M') %></time>
          <a href="/<%= post.id %>/"><%= post.title %></a>
        </li>
      <%- end -%>
      </ul>
    </main>
  </body>
</html>
